.header {
    display: flex;
    width: 100%;
    padding: 30px 0;
    justify-content: space-between;
    align-items: center;

    .nav {
        width: 180px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    @media screen and (max-width: 768px) {

        .nav {
            font-size: 12px;
            width: 120px;
        }

        img {
            width: 145px;
        }

    }
}