@use '../variables.scss' as *;

.dropdown-main-container {
    display: flex;
    flex-direction: column;
    border-radius: 10px;

    .dropdown-title-container {
        display: flex;
        align-items: center;
        background-color: $primary-color;
        height: 52px;
        width: 100%;
        padding: 15px;
        position: relative;
        color: white;
        font-weight: 700;
        border-radius: 5px;
    }

    .dropdown-content-container {
        background-color: $secondary-color-grey;
        color: black;
        padding: 0 15px;
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.2s ease-in-out, padding 0.2s ease-in-out;
    }

    .dropdown-content-container.open {
        max-height: 600px;
        padding: 15px;
    }

    .icon {
        width: 24px;
        position: absolute;
        right: 25px;
        top: 35%;
        cursor: pointer;
        transition: transform 0.2s ease-in-out;
    }

    .icon.rotate {
        transform: rotate(180deg);
    }


    @media screen and (max-width: 768px) {
        
        .dropdown-title-container {
            height: 30px;
            font-size: 13px;
        }

        .dropdown-content-container {
            font-size: 12px;
        }

        .icon {
            width: 16px;
        }
    }
}