@use "../variables.scss" as *;

.star-rating-main-container {
    display: flex;
    align-items: flex-start;
    gap: 5px;

    @media screen and (max-width: 768px) {

        img {
            width: 18px;
        }
    }
}