@use '../variables.scss' as *;

.not-found-main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    h1 {
        font-size: 180px;
        color: $primary-color;
    }

    p {
        font-size: 30px;
        font-weight: 500;
        color: $primary-color;
        margin-bottom: 100px;
        text-align: center;
    }

    a {
        font-size: 18px;
        color: black;
        font-weight: 500;
    }

    @media screen and (max-width: 768px) {
        gap: 65px;

        h1 {
            margin-top: 50px;
            font-size: 90px;
        }

        p {
            font-size: 15px;
            margin-bottom: 20px;
        }

        a {
            font-size: 14px;
        }
    }
}