@use "../variables.scss" as *;

.product-main-container {
    display: flex;
    flex-direction: column;

    .product-image-container {
        width: 100%;
    }

    .product-info-container {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        margin-bottom: 40px;

        .product-title-container {
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            .product-title {
                color: $primary-color;
                font-weight: 500;
                font-size: 36px;
            }

            p {
                font-weight: 500;
                font-size: 18px;
            }

            .product-tags {
                display: flex;
                margin-top: 30px;
                gap: 10px;
            }
        }

        .product-personnal-info-container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;
            gap: 35px;

            .product-host-container {
                display: flex;
                gap: 10px;
                justify-content: center;
                align-items: center;

                .product-host-name {
                    color: $primary-color;
                }

                .product-picture-container {
                    width: 64px;
                    height: 64px;
                    border-radius: 50px;
                    overflow: hidden;

                    img {
                        width: 64px;
                        object-fit: cover;
                    }
                }
            }
        }
    }

    .product-dropdowns-container {
        display: flex;
        width: 100%;
        gap: 50px;
        margin-top: 20px;
        margin-bottom: 50px;

        .dropdown-main-container {
            flex: 1;
        }
    }


    @media screen and (max-width: 768px) {

        .product-info-container {
            flex-direction: column;

            .product-title-container {

                .product-title {
                    font-size: 18px;
                }

                p {
                    font-size: 14px;
                }
            }

            .product-personnal-info-container {
                flex-direction: row-reverse;
                align-items: center;
                gap: 0;
                justify-content: space-between;

                .product-host-container {
                    .product-host-name {
                        font-size: 13px;
                    }

                    .product-picture-container {
                        width: 35px;
                        height: 35px;

                        img {
                            width: 35px;
                        }
                    }
                }
            }
        }

        .product-dropdowns-container {
            flex-direction: column;
            gap: 30px;
        }
    }
}